h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
    position: relative;
}

html {
    background-color: #f0f8ff;
    overflow: hidden scroll;
}
body {
    background-color: #fff;
    padding: 30px 30px 30px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
.title {
    margin-left: 70px;
}
.basyo {
    float: right;
    margin-right: 100px;
}
/* labelをボタンらしく */
.upload-label {
  display: inline-block;
  cursor: pointer; /* カーソルを指に */
  margin-left: 100px;
  padding: .7em 1em; /* 文字まわりの余白 */
  line-height: 1.4; /* 行間 */
  background: #3e8bff; /* 背景色 */
  color: #FFF; /* 文字色 */
  font-size: 0.95em; /* フォントサイズ */
  border-radius: 2.5em; /* 角の丸み */
  transition: 0.2s; /* ホバーをなめらかに */
}
/* ホバー時 */
.upload-label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
/* inputは隠す */
.upload-label input {
  display: none;
}
#preview img {
  margin-left: 50px;
  float: left;
  width: 200px;
  height:200px;
  border: solid 1px silver;
}
#fab {/*円の部分*/
    float: right;
    display: block;
    width: 40px;/*幅*/
    height: 40px;/*高さ*/
    background: #03a9f4;/*背景色*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

#fab:hover {/*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#fab i {/*中央のアイコン*/
  padding-left: 12px;
  color: white;
  line-height: 40px;/*＝幅と高さ*/
  font-size: 20px;/*サイズ*/
}

/*google maps*/
#sample {
 width: 700px;
   height: 400px;
}